@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-color: #7E846B;
}
h1 {
    text-align: center;
    overflow-wrap: anywhere;
    font-family: "Rubik", sans-serif;
}
.head {
    background-color: #A5AE9E;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: fit-content;
    height: fit-content;
}
.submission {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #594E36;
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
}
a:link {
    color: #C1EDCC;
}
a:visited {
    color: #797270;
}
img {
    border-radius: 20px;
    object-fit: cover;
    width: 33%;
    height: 80%;
}